<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_highlight_url %>

<% @highlights.each do |highlight| %>
    <p><%= link_to highlight.title, highlight_path(highlight) %></p>
    <p><%= highlight.subtitle %></p>
    <p><%= highlight.body %></p>
    <%= image_tag highlight.thumb_image unless highlight.thumb_image.nil? %>
    <%= link_to "Edit", edit_highlight_path(highlight) %>
    <%= link_to "Delete", highlight_path(highlight), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>