<div class="container highlight-container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag @highlight.main_image.url, width: '100%' %>
        </div>
        <div class="col-md-5">
            <h1><%= @highlight.title %></h1>
            <hr>
            <em><%= @highlight.subtitle %></em>
            <p><%= @highlight.body %></p>
            <hr>
            <h3>Technologies Used:</h3>
            <% @highlight.technologies.each do |t| %>
                <p><%= t.name %></p>
            <% end %>
        </div>
    </div>
</div>